body{    background: #f1f1f1; color:#444;}
.page-header h2{display:inline-block;}
#content{margin: 0;}
#footer{height: 50px;}
img{max-width: 100%;}
.font-small{font-size: 12px;font-weight: normal;}
.col-sm-15{
	width:20%;
	
	position: relative;
	float:left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
/*======== theme-options =========*/
#theme-options  .panel {box-shadow:none;background: none;margin: 0;}
#theme-options  .content{ background: #464960; }
#theme-options .content > div {display:table;width:100%; }
#theme-options .content > .panel-heading{
	padding: 20px 0;
	border-bottom: 3px solid #3498db; color:#ccc;
	background: #213748; /* Old browsers */

 }
#theme-options .content > .panel-heading .btn{border:none;}
#theme-options .content > .panel-heading .dropdown-toggle{
	box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
	background: #182835;
	padding: 7px 20px;
	color:#ccc;
	font-size: 14px;
	border-radius:3px;
	border-bottom:1px solid #32495d;
	transition: 0.3s all ease-in-out;
}
#theme-options .content > .panel-heading .dropdown-toggle:hover{
	color:white;
	background: #082238;
}
#theme-options .content > .panel-body{background: url('../image/bg-tabs.png') repeat-y ;padding: 0;border-bottom: 5px solid #afafaf; border-right:1px solid #ddd;}
.main_content_vertical{padding:  0;width: calc(100% - 230px);margin-left: 230px;min-height: 520px;background:white;}

#theme-options .dropdown-menu {
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  transition: all 0.2s ease-out;
  margin-top: 20px;
  min-width:190px;
}
@media (min-width: 1200px) {
  #theme-options .dropdown-menu:after {
    content: '';
    border: 6px solid #ccc;
    position: absolute;
    z-index: 3;
    top: -12px;
    left: 19px;
    border-color: transparent transparent #fff transparent;
  }
}
#theme-options .open > .dropdown-menu {
  margin-top: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}
#theme-options .dropdown-menu > li > a {
  padding: 7px 10px;
}

.form-control, .form-field {
  padding: 7px 10px;
  background-color: #f9f9f9;
  border: 1px solid #dedede;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.05);
  line-height: 1.2;

  display: block; }
.clearfix{clear:both;}
.custom-code {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  line-height: 30px; }

.width30 {width: 30% !important; }
.width50 {width: 40% !important; }
.width15 {
  width: 15% !important; }

.margin15 {
  margin-bottom: 15px; }

.help-block {
	font-size: 12px;
	color: #999;
	font-weight:normal;
  }

.no-margin {
  margin: 0 !important; }
.alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #f39c12 !important;
	color:white;
	border-color: #e08e0b;
}
.callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #00a65a !important;
	color:white;
	border-color: #008d4c;
}
.list-decimal{list-style: circle;}

/*---Panel--*/
.so-panel {font-size: 13px;padding: 20px 30px;}
  .so-panel .panel-title {
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px;
    color: #333;
    
    padding: 0 10px;
    border-left: 3px solid #648e42;
    }
    .so-panel .panel-title .help-block {
      text-transform: none;
      display: inline-block;
      font-weight: normal;
      margin: 0 20px; }

.panel-container {padding: 0 ; }
  .panel-container > .form-group {
    margin: 0;
    padding: 15px 0; }

    .panel-container > .form-group .control-label {
      font-weight: normal;
      border-right: 1px solid #eee;
      padding: 5px; }
	  
.sidebar .nav-tabs{border-bottom:none;}

.main_tabs {
  background-color: #515151;
  border-radius: 2px;
  border: 1px solid #515151;
  overflow: hidden; }

.main_tabs > li {
	margin: 0;
	border-right: 1px solid #5A5A5A;
	position:relative;
	z-index:5;
  }

.nav-tabs.main_tabs > li > a {
  color: #C4C4C4;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 20px;
  margin: 0; }

.nav-tabs.main_tabs > li.active > a,
.nav-tabs.main_tabs > li > a:hover,
.nav-tabs.main_tabs_vertical > li.active > a,
.nav-tabs.main_tabs_vertical > li > a:hover,
.nav-tabs.main_tabs_vertical > li > a:focus {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  font-weight: normal; }
.main_tabs_vertical  > li.active:after{
	content:'';
	border: 10px solid #ccc; 
	position:absolute;z-index:3;top:15px;right:-1px;
	border-color: transparent #ffffff transparent transparent;
}
.nav-tabs.main_tabs_vertical.store_tabs > li.active > a,
.nav-tabs.main_tabs_vertical.store_tabs > li.active > a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  font-weight: 600; }

.nav-tabs.main_tabs_vertical.store_tabs > li > a:hover {
  border: none;
  background: #444;
  font-weight: 600; }

.sidebar  {
  width:229px;
  position: absolute;z-index: 1;
}
.sidebar > .title{
	font-size: 13px;
    text-transform: uppercase;
    border-radius: 0;
    color: #ccc;
    padding: 17px 15px;
    margin: 0;
	font-weight:bold;
	text-align:center;
	border-bottom:1px solid #5b5e75;
}
.sidebar > .title .badge{color: #ccc;}
.nav-tabs.main_tabs_vertical > li {
  float: none;
  width: 100%; }

.nav-tabs.main_tabs_vertical > li {margin: 0 0 1px; }

.nav-tabs.main_tabs_vertical > li > a {
  border: none;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 0;
  color: #ccc;
  padding: 17px 20px;
  margin: 0; }
.nav-tabs.main_tabs_vertical > li .fa{font-size:16px; margin-right: 10px;}
.main_tabs_horizontal {
  font-size: 12px;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  border: none; }

.main_tabs_horizontal li {
  margin: 0; }

.main_tabs_horizontal > li > a {
  margin: 0;
  padding: 8px 10px;
  border: 1px solid #ccc; }

.main_tabs_horizontal > li:first-child > a {
  border-radius: 3px 0 0 3px;
  border-right: 0 !important; }

.main_tabs_horizontal > li:last-child > a {
  border-radius: 0 3px 3px 0;
  border-left: 0 !important; }

.main_tabs_horizontal > li.active a,
.main_tabs_horizontal > li.active a:hover,
.main_tabs_horizontal > li.active a:focus {
  color: #ffffff;
  background-color: #75a74d;
  border-color: #75a74d;
  font-weight: normal;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1) inset; }

.main_tabs_horizontal > li a:hover {
  background-color: #eee;
  border-color: #ccc; }

.tab-horizontal .tab-content {
  display: inline-block;

  margin: 0 10px; }

.form-horizontal .control-label {
  text-align: left;
  font-weight: normal; }

.main_tabs_2 {
  background: #f1f1f1;
  display: block;
  margin-bottom: 0; }

.main_tabs_2 li {
  border-right: 1px solid #e5e5e5; }

.main_tabs_2 > li > a {
  border-radius: 0px;
   border: none !important;
  margin: 0;
  padding:  20px 35px;
  font-size: 13px;
  text-transform: uppercase;
  }

.main_tabs_2 > li.active a,
.main_tabs_2 > li.active a:hover,
.main_tabs_2 > li.active a:focus {
 
  background-color: #fff;
  font-weight: normal; }

.main_tabs_2 > li a:hover {
  background-color: #fff;
   
}

.products_button {
	color: #999;
	padding: 8px 0;
	display: inline-block;
	margin: 0 50px;
	text-transform: uppercase;
	position:relative;
	border-bottom:1px solid #3c3c3c ;
	
}
.products_button:after{
	content: '';
	display: block;
	width:0%;
	bottom:-1px;
	position:absolute;
	transition: 0.5s all ease;
	border-bottom: 1px solid #999!important;
}
.products_button:hover:after{
	width:100%;
}
.products_button:hover {color: #eee; }

.products_button .fa {
  font-size: 14px;
  margin: 0 3px;
  vertical-align: middle; }

h3.panel-brand {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  margin: 0; }

h3.panel-brand .label {
  text-transform: none;
  font-size: 11px; }

h2.title_h2 {
  text-transform: uppercase;
  color: #f23b3b;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 1px dotted #918D8D;
  display: block; }

.add-soconfig_cssfile, .add-soconfig_jsfile,
.add-soconfig_cssfile_store, .add-soconfig_jsfile_store {
  padding: 4px 10px;
  margin-top: 2px; }

.block-group {
  margin-bottom: 15px; }

.block-group .control-label {
  margin-bottom: 5px; }

.img-patt {
  width: 45px;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px; }
.text-capital{text-transform: capitalize;}
.pic_error {
  margin: 10px 0;
  color: white;
  background: #cb1e1e;
  padding: 3px 10px;
  border-radius: 3px;
  font-size: 11px;
  display: inline-block; }

 .text-warning {  color: #a94442;}
 .icon-so{
    background: #3498db;
    padding: 3px;
    border-radius: 3px;
	margin: 0 -3px;
    color: white;
}
.input-group .fa-paint-brush{display:table-cell;}
.breadcrumb li .fa{display:none;}

.so-panelType{background: url('../image/bg-tabs2.png') repeat-y;margin-top:15px;}
.tabs_vertical_headertype {border:none;padding: 0;margin: 10px 0;width:190px;min-height: 450px;}
.tabs_vertical_headertype li{float:left;width:100%;margin:0;}
.tabs_vertical_headertype li a{border:none;margin: 0;padding: 15px; text-transform: uppercase;}
.tabs_vertical_headertype li.active a,
.tabs_vertical_headertype li.active a:hover,
.tabs_vertical_headertype li.active a:focus{border:none !important; background: #3498db;color:white;}
.tabs_vertical_headertype + .tab-content{padding: 0;width:calc(100% - 190px);}

.form-horizontal .group-typeheader{border:none !important; padding: 0; margin: 30px 0 0;display: inline-block;width: 100%;}
.form-horizontal .group-typeheader label,
.form-horizontal .group-typecolor label{padding: 0;}
.form-horizontal .group-typecolor input,
.form-horizontal .group-typeheader input[type="radio"]{visibility: hidden;position: absolute;}
.type {border: 1px solid #dddddd;display: inline-block;position: relative;z-index: 1;z-index: 2;margin-bottom: 10px; }
.typetitle{font-size: 13px; margin: 0 0 10px;display: block;font-weight: 600; clear:both;}
.type:hover{border: 1px solid #999;}
.type:after{content:"\f00c";display:block; position: absolute;z-index: 2;top: -50px;opacity: 0;width:100%;text-align: center;font-size: 42px;color: white; transition:0.5s all ease-in-out;}
.type.active:after{top: calc(50% - 21px); opacity: 1;}
.type.active{border: 1px solid #999;background:#3498db;}
.type.active img{opacity: 0.4 !important;}

.group-banners input[type="radio"]{margin-left: 0px;}
.group-banners h3.typetitle{margin-left: 20px;margin-bottom: 20px;}
.form-horizontal .group-banners input[type="radio"]{visibility: visible;}
.help-hint-text{
	color: #3498db;
	font-weight:bold;
	text-transform:uppercase;
}
.help-hint-text .fa{
	font-size:18px;
}
.help-hint{   
	border: 1px solid #ddd;
    padding: 8px;
    font-weight: bold;
    background: #f1f1f1;
    color: #3498db;
	margin:20px 0 10px;
}
.help-hint .fa{
	padding:11px;
	margin:-9px 10px -9px -9px;
	font-size:18px;
	background:#3498db;
	color:white;
	
}