@include breakpoint(sm){
	/************************************************************************************************
        BLOCK HEADER  
    ************************************************************************************************ */

    /*!== Header 1 ==!*/
    header.typeheader-1{
        .menu-vertical{ margin-top: 6px; }
        .header-center-right{
            .megamenu-style-dev{ float: $left; top: 7px; margin-#{$left}: 15px; }
        }
       
    }

    /*!== Header 2 ==!*/
    header.typeheader-2{
        .navbar-logo{ text-align: center; padding-bottom: 25px; }
        .header_search{ width: 60%; }
        .horizontal{ margin-top: 9px; }
        .vertical{ margin-top: 5px; }
        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle{ padding: 8px 6px;}
    }

    /*!== Header 3 ==!*/
    header.typeheader-3{
        .header-search{ top: 1px; }
        .btn-group .btn-link{ padding: 5px; }
        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle{ background: #999; border-radius: 0;}
        .megamenu-style-dev .horizontal ul.megamenu > li{ text-align: $left; display: block; }
        .language .dropdown-menu{ #{$right}:auto; #{$left}:0; }
    }

    /*=== Header 4 ===*/
    header.typeheader-4{
        .navbar-logo{ position: absolute; text-align: center; top: 10px; width: 100%;
            border-bottom: 1px solid rgba(255,255,255,0.1); padding-bottom: 15px; left: 0; right: 0;
        }
        .header-center{ padding-top: 62px; }
        .header-left{ padding: 0; }
        .vertical .navbar-header { margin-top: 5px; }
        .container-megamenu.vertical .vertical-wrapper{ opacity: 1; visibility: visible; }
    }

    /*=== Header 5 ===*/
    header.typeheader-5{
       .navbar-logo{ text-align: center; padding-bottom: 25px; }
    }

    /* **********************************************************************************************
        BLOCK HOME PAGE
    *************************************************************************************************/

    /*[] LAYOUT DEFAULT []*/
    .common-home{
        .module.sohomepage-slider .sohomeslider-description{
            .image{width: 25%;}
            .text {
                &.pos-right{
                    right: 20px;
                }
                .titleh4{font-size: 40px !important;}
                h3.tilte.modtitle-sl11{font-size: 36px !important;}
            }
        }
    }
    
    .products-list.grid .product-layout .product-item-container .button-group button{ margin: 0!important; }
    .module.sohomepage-slider .sohomeslider-description .item-desc-inner .slide-btn{ width: 120px; }

    /*[] LAYOUT 1 []*/
    .layout-1{
        .top-brand.arrow-default .owl2-nav{ display: none; }
	    .block-image-1{ 
            li{ width: 33.33%; float: $left; } 
        }
        .custom_deals_featured.so-deals .so-deal .product-feature .item-timer .time-item{ margin-#{$right}: 5px; }
        div.products-list.grid .product-layout .product-item-container{
            .left-block .quickview,
            .button-group button{opacity: 1;}
        } 
        .best-seller-custom.best-seller{ margin-top: 40px; }
        .module.custom-listingtab .products-list.grid .product-layout .product-item-container{ padding-bottom: 23px; }
    }

    /*!== Layout 2 ==!*/
    .layout-2{
        .block-infos .info {
            width: 25%;
            &.info5{ display: none; }
        }
        .module.custom_supper .so-sp-cat .spcat-wrap .spc-wrap{ width: 75%; }
        .module.custom_supper .so-sp-cat .spcat-wrap .category-wrap { width: 25%; }
        .module.custom_supper .so-sp-cat .spcat-wrap .category-wrap .slider .cat_slider_inner { min-height: 466px; }
    }

    /*!== Layout 3 ==!*/
    .layout-3{
        .banner-home3-2 .banner ul li a{ width: 120px; }
        .content-img img{ width: 100%; }
    }

    /*!== Layout 4 ==!*/
    .layout-4{
        .html-infos .info span { font-size: 28px; }
        .html-categories .cate-content .cate{ width: 25%; 
            &.cate5{ display: none; }
        }
        .content-img img{ width: 100%; }
        .footer-top .follow-us { margin-top: 40px; }
    }


    /* ***********************************************************************************************
        BLOCK FOOTER  
    *************************************************************************************************/

    /*[] FOOTER DEFAULT []*/
    footer{
        .module h3.footertitle{ margin-top: 10px; }
        .footer-top .block-infos .info{ width: 33.33% ;
            &.info4,
            &.info5{ display: none;  }
        }
        .news-letter .title-block{ display: block; text-align: center; }
        .news-letter .block_content .input-box input{ width: 240px; }
        .social_block ul{ text-align: center;
            &.social-block li{ float: none; a{ line-height: 60px; } }
        }
        .social_block{ background: transparent; border-bottom: 1px solid #3a3a3a; }
        .box-footer.box-account{ border-color: transparent; }
        .news-letter .title-block{ display: block; text-align: center;}
        .news-letter .block_content{ display: block; padding: 0; }
        .news-letter .block_content .input-box input{ width: 90%; }
        .socials-wrap .title-follow{ padding-top: 0; margin-top: 0; text-align: center; display: block;}
        .footer-center .custom_categories nav a{ padding: 0 10px; }
    }
    footer.typefooter-2{
        .news-letter .block_content {
            padding: 0;
            display: block;
            .input-box input{ width: 100%; border-radius: 28px; }
        }
        .socials-wrap .title-follow{ display: block; margin: 10px 0 5px !important; text-align: center; }
        .socials-wrap ul{ display: block; padding-top: 5px; }
    }
    
    /************************************************************************************************
        PAGE LISTING  
    ************************************************************************************************ */
    
    .thumb-vertical-outer { padding: 20px 0;}
    .short-by-show .form-group{ float: $left; margin: 0 5px; }
    .so-filter-price .put-min_max{
        .name-curent{ display: inline-block; float: $left; line-height: 30px; }
        .form-control{ width: 60px; line-height: 30px; padding: 0!important; margin: 0!important; height: 30px; min-width: 60px; }
    }
    .products-list.list .product-layout .product-item-container .left-block .product-image-container{ 
        .img-1{ margin: 0 auto; text-align: center; opacity: 1!important; transform: rotateY(0deg)!important;}
        .img-2.img-responsive{ display: none; } 
    }
    .products-list.list .product-layout .product-item-container .right-block{ padding: 0; margin-top: 20px; 
        .caption{ padding: 0; }
    }
    /************************************************************************************************
        PAGE DETAIL 
    ************************************************************************************************ */
    .info-right{ margin-top: 20px; }

    /************************************************************************************************
        DEFTAULT MENU  
    ************************************************************************************************ */
    
    /*MEGA MENU*/
    .megamenu-style-dev{
        .container-megamenu.horizontal .title-feature, 
        .container-megamenu.horizontal ul.megamenu .title-submenu, 
        .container-megamenu.horizontal ul.megamenu li .sub-menu .content .static-menu a.main-menu, 
        .container-megamenu.horizontal ul.megamenu .subcategory a.title-submenu{ padding: 10px 0; font-size: 14px; font-family: Open Sans, sans-serif;}
        .container-megamenu.horizontal ul.megamenu > li > a strong img,
        .container-megamenu.vertical:after{ display: none; }
        .navbar-default .vertical #menuHeading{ display: none!important; }
        &.responsive {
            ul.megamenu > li.active .close-menu{
                #{$right}: 0;
            }
            #remove-megamenu{ display: block; color: #222; cursor: pointer; }
            .so-megamenu-active #remove-megamenu{ color: #222; }
            .megamenu-wrapper{ border: none; border-radius: 0; }
            div[class^=col-]{  width: 100%; }
            ul.megamenu > li{
                display: block;
                border-bottom: 1px solid #ddd;
                border-top: none;
                padding: 5px 0;
                overflow: hidden;
                a{ line-height: 25px; }
            }
            ul.megamenu > li.click::before, ul.megamenu > li.hover::before{
                padding: 0 !important;
                font-size: 14px;
                background: #5c5c5c;
                color: #fff;
                border: 1px solid #5c5c5c;
                width: 22px;
                line-height: 20px;
                height: 22px;
                display: inline-block;
                text-align: center;
                top: 10px;
                #{$right}: 0;
                #{$left}: auto;
            }
            ul.megamenu > li.active {
                .sub-menu{ display: block!important; }
                > a{ color: #fff; background: transparent!important; }
                .close-menu{
                   padding: 0;width: 22px; line-height: 22px; background: #5c5c5c; height: auto; top: 10px;
                    &:before{
                        color: #fff;
                        font-size: 14px;
                        line-height: 18px;;
                    }
                }
            }
           .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content{box-shadow: none;border: 1px solid #eee;}
        }
        .navbar-default .horizontal{
            .navbar-toggle{
                margin: 0 ;
                color: #fff;
                border-radius: 4px;
                @include bgbutton();
                -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.15), inset 0 1px 0.5px rgba(255,255,255,.2);
                -moz-box-shadow: 0 1px 0 rgba(255,255,255,.15), inset 0 1px 0.5px rgba(255,255,255,.2);
                border: solid 1px #000;
                float: $left;
                cursor: pointer;
                padding: 9px 8px;
                .icon-bar{
                    background: #fff;
                    width: 25px;
                    height: 3px;
                }
            }
            .megamenu-wrapper{
                background: #fff;
                box-shadow: 0px 3px 2px rgba(0,0,0,0.1);
                padding: 20px!important;
                ul.megamenu > li{
                        > a{
                        color: #222!important;
                        padding:  0;
                        font-size: 13px;
                        line-height: 29px !important;
                        font-family: Open Sans, sans-serif;
                        &:hover{ color: $linkColor; }
                    }
                }
                ul.megamenu > li > a strong { font-weight: 400; }
                ul.megamenu li .sub-menu .content .title-submenu{padding: 0;margin: 0;border: none;}
            }
            .features-menu{
                .column{
                    &.layout-color a{display: inline-block;}
                    a{margin: 0 0 30px;display: block}
                }
            }
        }
        .navbar-default{
            .vertical {
                #menuHeading{
                    display: block;
                    margin: 0;
                }
                ul.megamenu{ position: relative; background: transparent;
                    > li{ background: transparent; }
                }
                .vertical-wrapper ul.megamenu > li > a{ border-bottom: none; }
                .vertical-wrapper ul.megamenu > li b.fa{ display: none; }
                .vertical-wrapper ul.megamenu{ border: none; }
                .navbar-header{
                   .title-navbar{ 
                        display: none;                   
                    }

                    .navbar-toggle{
                        padding: 10px 8px;
                        margin: 5px 10px;
                        @include bgbutton();
                        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.15), inset 0 1px 0.5px rgba(255,255,255,.2);
                        -moz-box-shadow: 0 1px 0 rgba(255,255,255,.15), inset 0 1px 0.5px rgba(255,255,255,.2);
                        border: 1px solid #000;
                        border-radius: 5px;
                        .icon-bar{ background: #fff; 
                            &:nth-child(1){
                                width: 13px;
                            }
                            &:nth-child(2){
                                width: 18px;
                            }
                        }
                    }
                }
                #remove-verticalmenu{ display: block; color: #222; cursor: pointer; font-size: 16px; }
                .vertical-wrapper{
                    position: fixed;
                    background: #fff;
                    box-shadow: 0px 3px 2px rgba(0,0,0,0.1);
                    padding: 20px!important;
                    width: 280px;
                    max-height: 100%;
                    top: 0;
                    z-index: 99;
                    border: none;
                    &.so-vertical-active{ display: block!important; }
                    ul.megamenu > li.active .sub-menu{ border: 1px solid #ddd; padding: 20px; 
                        .content{ padding:0px; border: none; box-shadow: none; 
                            .row:first-child > div:first-child{ margin-top: 0; }
                            .static-menu .menu ul li a.main-menu{ font-size: 14px; }
                        }
                    }

                    ul.megamenu{
                        .item-vertical.vertical-style3 .content .image-position{
                            transform: scale(0.8);
                            -moz-transform: scale(0.8);
                            -webkit-transform: scale(0.8);
                            -ms-transform: scale(0.8);
                            position: relative;
                        }
                        .item-vertical.css-menu .sub-menu .content .categories .menu > ul li{
                            &:before{
                                display: none;
                            }
                            .main-menu{text-transform: uppercase;margin: 0 0 10px;}
                            a:hover{color: $linkColor;}
                            &:hover{ >a{color: $linkColor;}}
                            ul{
                                box-shadow: none;
                                li{
                                    padding: 5px 0;
                                }
                            }
                        }
                        
                    }
                    ul.megamenu .item-vertical.vertical-style1 .content{ padding: 15px; }
                    ul.megamenu .item-vertical.css-menu .content .menu > ul > li ul{ border: none; }
                    ul.megamenu .item-vertical.css-menu .content .menu > ul > li b{ display: none; }
                    ul.megamenu > li{
                        border-bottom: 1px solid #ddd;
                        border-top: none;
                        padding: 0;
                        > a {     
                            padding: 3px 0;
                            font-family: Open Sans, sans-serif;
                            text-transform: uppercase;
                            background: transparent!important;
                            font-size: 13px;
                            strong{ color: #222; font-weight: normal;}
                        }
                        &.loadmore{ border: none; }
                        a{ line-height: inherit; }
                        &.hover{
                            &:before{
                                font-size: 14px;
                                color: #fff;
                                height: 22px;
                                line-height: 20px;
                                width: 22px;
                                background: #5c5c5c;
                                text-align: center;
                                cursor: pointer;
                                border: 1px solid #5c5c5c;
                                padding: 0 !important;
                                top: 6px;
                            }
                            &:hover{
                                &:before{
                                    color: #fff;
                                }
                                
                            }
                        }
                        &.active {
                            background: none;
                            .close-menu{
                                background: #5c5c5c;
                                font-size: 14px;
                                top: 6px;
                                &:before{color: #fff; line-height: 22px;}
                            }
                        }
                    }
                }
            }
        }
    }

    /*MENU STIKY*/
    header.navbar-compact{ display: none; }
    header .horizontal ul.megamenu > li > .sub-menu{ border: none; }
    ul.megamenu li.active .sub-menu .content{ padding: 0 10px; }
    #wrapper{ overflow-x: hidden; }
    .zoomContainer{ display: none; }
    .container-megamenu.vertical .vertical-wrapper ul.megamenu li .sub-menu{
        @include if-rtl { left: 0; right: inherit!important; }
    }
    .simple_blog-article .product-filter.filters-panel{ display: none; }
    header #sosearchpro .dropdown-menu{ #{$right}: 0!important; #{$left}: inherit!important; }
    /************************************************************************************************
        PAGE BONUS  
    *************************************************************************************************/
    .our-member .respl-item .w-image-box { float: none; overflow: hidden; width: 100%; text-align: center; }
    .our-member .respl-item .info-member { text-align: center; margin: 0; }
    .our-member .respl-item .info-member li { float: none; display: inline-block; }
}