.row_bigv{margin:0 0 50px 0; overflow:hidden;}

/* Style Product Carousel */ 
.product_carousel_97ly .yt-carousel-slide {background-color:#ffffff;color:#5d5d5d;}.product_carousel_97ly.yt-carousel-slide .yt-carousel-slide-title a {color: #2D89EF;}.product_carousel_97ly.yt-carousel-slide .price {color: #2D89EF;}.product_carousel_97ly.yt-carousel-slide .yt-carousel-slide-title a:hover {color: #5ca4f3;}.product_carousel_97ly.yt-carousel-slide .price:hover {color: #5ca4f3;}

#accordion_remj-1 h3.accordion-heading {background:#ffffff; color:#000000;font-size:16px}#accordion_remj-1 .icon_accordion {color:#cccccc;font-size: 16px;}#accordion_remj-1 .yt-accordion-inner {background:#ffffff;color:#000000;border-color:#000000}ul.yt-accordion.accordion_remj li#accordion_remj-1.yt-accordion-group h3.accordion-heading.active{color: #cccccc !important;background : #ffffff !important;} ul.yt-accordion.accordion_remj li#accordion_remj-1.yt-accordion-group .yt-accordion-inner.active{background : #ffffff !important;} ul.yt-accordion.accordion_remj li#accordion_remj-1.yt-accordion-group .active i{color: #cccccc !important;}
#accordion_remj-2 h3.accordion-heading {background:#ffffff; color:#000000;font-size:16px}#accordion_remj-2 .icon_accordion {color:#cccccc;font-size: 16px;}#accordion_remj-2 .yt-accordion-inner {background:#ffffff;color:#000000;border-color:#000000}ul.yt-accordion.accordion_remj li#accordion_remj-2.yt-accordion-group h3.accordion-heading.active{color: #cccccc !important;background : #ffffff !important;} ul.yt-accordion.accordion_remj li#accordion_remj-2.yt-accordion-group .yt-accordion-inner.active{background : #ffffff !important;} ul.yt-accordion.accordion_remj li#accordion_remj-2.yt-accordion-group .active i{color: #cccccc !important;}
#accordion_remj-3 h3.accordion-heading {background:#ffffff; color:#000000;font-size:16px}#accordion_remj-3 .icon_accordion {color:#cccccc;font-size: 16px;}#accordion_remj-3 .yt-accordion-inner {background:#ffffff;color:#000000;border-color:#000000}ul.yt-accordion.accordion_remj li#accordion_remj-3.yt-accordion-group h3.accordion-heading.active{color: #cccccc !important;background : #ffffff !important;} ul.yt-accordion.accordion_remj li#accordion_remj-3.yt-accordion-group .yt-accordion-inner.active{background : #ffffff !important;} ul.yt-accordion.accordion_remj li#accordion_remj-3.yt-accordion-group .active i{color: #cccccc !important;}
/* Style Accordion */ 
#accordion_remj.yt-accordion{width:100%}

/* Style Box */ 
#box_xfgk{border-color:#333333;} #box_xfgk .yt-box-title { background-color:#333333;color:#ffffff;}



/* Style Countdown */ 
#countdown_pj7r {margin: 0px;padding: 0px;border-radius: 0px;background-color: #ffffff;}#countdown_pj7r  .yt-cd-timer > span span[class*="text"] { color: #999999; font-size: 14px; } #countdown_pj7r  .yt-cd-timer span > span { font-size: 32px; line-height: 32px; color: #666666;} #countdown_pj7r .yt-countdown-content .yt-cd-timer > span:after { font-size: 32px;line-height: 32px; color: #999999;}

/* Style Counter */ 
#counter_5v6j-1{border-radius:0px}#counter_5v6j-1 {background-color:#ffffff;border:0px solid #DDD;}#counter_5v6j-1 .yt-counter-number {font-size: 32px; color:#444444; }#counter_5v6j-1 .yt-counter-text {color:#666666; font-size: 14px;}#counter_5v6j-1 i {color:#444444;font-size:32px;}
/* Style Counter */ 
#counter_5v6j-2{border-radius:0px}#counter_5v6j-2 {background-color:#ffffff;border:0px solid #DDD;}#counter_5v6j-2 .yt-counter-number {font-size: 32px; color:#444444; }#counter_5v6j-2 .yt-counter-text {color:#666666; font-size: 14px;}#counter_5v6j-2 i {color:#444444;font-size:32px;}

/* Style Feature Box */ 
#feature_box_ziwk.yt-feature-box{text-align:center}#feature_box_ziwk .yt-feature-box-icon span{background:#a1c63d; border-radius:100px;px;display: inline-block;margin-bottom: 10px; padding: 40px;text-align: center;} .yt-feature-box-icon i{font-size:32px; color:#ffffff;width:32px; height:32px; line-height:32px;}#feature_box_ziwk .yt-feature-box-title h3{font-size:20px;line-height:20px;color:#1a1a1a}

/* Style Counter */ 
#flickr_xkeu .yt-lightbox {border-radius: 0px;}#flickr_xkeu img{border-radius: 0px;}


/* Style Box */ 
#google_map_r8hu{width:auto;;height:400px;border:0px solid #ccc;} 



/* Style LightBox */ 
#yt-lightboxlightbox_y2f6{width:100%; height:100%;}


/* Style Product Carousel */ 
.product_carousel_jose .yt-carousel-slide {background-color:#2d89ef;color:#ffffff;}.product_carousel_jose.yt-carousel-slide .yt-carousel-slide-title a {color: #ffffff;}.product_carousel_jose.yt-carousel-slide .price {color: #ffffff;}.product_carousel_jose.yt-carousel-slide .yt-carousel-slide-title a:hover {color: #ffffff;}.product_carousel_jose.yt-carousel-slide .price:hover {color: #ffffff;}





