
/* Style Box */ 
#box_b21t{border-color:#333333;} #box_b21t .yt-box-title { background-color:#333333;color:#ffffff;}
/* Style Product Carousel */ 
.product_carousel_l2l8 .yt-carousel-slide {background-color:#2d89ef;color:#ffffff;}.product_carousel_l2l8.yt-carousel-slide .yt-carousel-slide-title a {color: #ffffff;}.product_carousel_l2l8.yt-carousel-slide .price {color: #ffffff;}.product_carousel_l2l8.yt-carousel-slide .yt-carousel-slide-title a:hover {color: #ffffff;}.product_carousel_l2l8.yt-carousel-slide .price:hover {color: #ffffff;}


