
/*============ HEADER  ==================*/
.horizontal{
    ul.megamenu > li > .sub-menu{border-top: 2px solid $background;}
    ul.megamenu > li > a{padding: 10px 15px; text-transform: uppercase;
        .fa{padding-#{$right}: 10px;}
        
    }
    ul.megamenu > li{margin-#{$right}: 1px;float: $left;}
    ul.megamenu li .sub-menu .content .fa{margin: 0 10px;
        @include if-rtl {
            &.fa-angle-right:before{content: "\f104";}
        }
    }
    ul.megamenu > li.active > a, ul.megamenu > li.home > a, ul.megamenu > li:hover > a{
        background: transparent;
        color: $linkColor;
    }
    .subcategory li a{@include linkGray();}
}
.header-top .header-top-left .welcome-msg .owl2-carousel .owl2-stage-outer{ direction: ltr; }
.mega-horizontal .navbar-default{border: none;background: transparent;}
@media (max-width: 991px){
    .responsive ul.megamenu > li.click:before,
    .responsive ul.megamenu > li.hover:before {
        #{$right}: 0;
        #{$left}: auto;
    }
    .responsive ul.megamenu > li.active .close-menu{
        #{$right}: 0;
        #{$left}: auto;
    }
}

.header-bottom .content_menu .container{overflow: visible;}
.btn-shopping-cart {
    @include breakpoint(lg){
        &:before {
            content: "";
            width: 38px;
            height: 25px;
            position: absolute;
            bottom: -9px;
            background: transparent;
            #{$right}: 0;
            z-index: 99;
        }
    }
    .dropdown-menu{
        min-width: 350px;
        border-top:3px solid $background;
        &:after{border-color: transparent transparent $background transparent; border-width: 10px;top:-21px;}
        .cart_product_name{@include linkGray();}
        .empty{padding: 15px;}
    }
    .table>tbody>tr>td{border: none;border-bottom: 1px solid $gray-lighter;vertical-align: middle;}
    .checkout{padding: 0 20px 10px;}
    .added_items{padding: 10px;}
}   
.typeheader-5 #sosearchpro.so-search .autosearch-input{ border-color:#0f8db3!important;}

.megamenu-style-dev{position: relative;
    .vertical{
        ul.megamenu{position: absolute; width: 100%; background: #222; z-index: 999;
            > li > a{font-size: 11px;}
        } 
        .vertical ul.megamenu > li{margin: 0; border-right: 0; background: #222;
            strong i{display: none;}
                    >a {padding-left: 15px;padding-right: 12px; color: #fff;
                                    &:hover{color: #fff;}
            }
            &.css-menu{
                .sub-menu .content{padding: 0;}
                .hover-menu .menu >ul{padding: 0; margin: 0;
                    li{
                        border-bottom: 1px solid #eee;
                        &:hover{background: #eee;
                            > a{color: $linkColor;}
                        }
                        a{line-height: 37px;
                            b{line-height: 37px; font-size: 16px;margin: 0 20px;}
                        }
                        &:last-child{border: none;}
                    }
                    ul{padding: 0; left: 100%;margin: 0;box-shadow: none;border: 1px solid #eee;min-width: 200px;
                        &:before, &:after{display: none;}
                    }
                } 
            }
            &.item-style3{
                        .sub-menu .content{padding-right: 0;}
            }
            &.with-sub-menu{
                > a:after{content: "\f105";color: #fff;font-family: Fontawesome; font-size: 13px; float: right; margin: 0;}
                
                &:hover > a:after{position: static; border-color: transparent;}
                
            }
            &:hover{background-color: #444;
                >a{color: #fff;}
            }
            &.active > a{background: transparent !important;}
            
            &.style1 .content:after{
            }       
            .sub-menu .content{border-top: 1px solid #ddd;
                .banner{margin-top: -21px; margin-bottom: -22px; margin-right: -1px;}
                .static-menu .menu ul a.main-menu{padding: 0;}
            }
        }
        ul.megamenu .sub-menu .content .static-menu .menu ul {padding-bottom: 0;
            li >a{line-height: inherit; padding-bottom: 0; border-bottom: none; min-height: auto;
                 &:hover{color: $linkColor;}
            }
            ul a{padding: 0;
                 &:hover{color: $linkColor;} 
            }
        }
    }
}

.typeheader-2 .shopping_cart{ background: $background;
    &:after{
        border-#{$right}: 15px solid $background;
    }
    .total-shopping-cart{ 
        background-color: darken($background,10%); 
    }
}

.typeheader-2 .header-top-right ul.top-link > li:hover > a{ color: $linkColor; }
.typeheader-2 #sosearchpro.so-search .button-search i{ color: $linkColor; }
.typeheader-2 #sosearchpro.so-search .button-search:hover i{ color: darken($background,10%)}

.typeheader-3 .shopping_cart{ background: $background;
    &:after{
        border-#{$right}: 15px solid $background;
    }
    .total-shopping-cart{ 
        background-color: darken($background,10%); 
    }
}
.typeheader-3 .header-top-right ul.top-link > li:hover > a{ color: $linkColor; }
.typeheader-3 #sosearchpro.so-search .button-search i{ color: $linkColor; }
.typeheader-3 #sosearchpro.so-search .button-search:hover i{ color: darken($background,10%); }

.typeheader-4 .shopping_cart{ background: $background;
    &:after{
        border-#{$right}: 15px solid $background;
    }
    .total-shopping-cart{ 
        background-color: darken($background,10%); 
    }
}
.typeheader-4 .header-top-right ul.top-link > li:hover > a{ color: $linkColor; }
.typeheader-4 #sosearchpro.so-search .button-search i{ color: $linkColor; }
.typeheader-4 #sosearchpro.so-search .button-search:hover i{ color: darken($background,10%); }

.typeheader-5 .header-top-right ul.top-link > li:hover > a{ color: $linkColor; }
.typeheader-5 #sosearchpro.so-search .button-search i{ color: $linkColor; }
.typeheader-5 #sosearchpro.so-search .button-search:hover i{ color: darken($background,10%); }
.typeheader-5 .header-top{ background: $background; border-color: $background!important; }
.typeheader-5 .header-top .header-top-left .welcome-msg .label-msg{ background: lighten($background, 10%); }

.typeheader-6 .header-top-right ul.top-link > li:hover > a{ color: $linkColor; }
.typeheader-6 #sosearchpro.so-search .button-search i{ color: $linkColor; }
.typeheader-6 #sosearchpro.so-search .button-search:hover i{ color: darken($background,10%); }


.typeheader-7 .header-top-right ul.top-link > li:hover > a{ color: $linkColor; }
.typeheader-7 #sosearchpro.so-search .button-search i{ color: $linkColor; }
.typeheader-7 #sosearchpro.so-search .button-search:hover i{ color: darken($background,10%); }
.typeheader-7 .header-bottom{ background: $background; }
.typeheader-7 .megamenu-style-dev .horizontal ul.megamenu > li.active > a, .typeheader-7 .megamenu-style-dev .horizontal ul.megamenu > li.home > a, .typeheader-7 .megamenu-style-dev .horizontal ul.megamenu > li:hover > a{
    background: darken($background, 10%);
}

.typeheader-8 .header-top-right ul.top-link > li:hover > a{ color: $linkColor; }
.typeheader-8 .shopping_cart .btn-shopping-cart .shopcart,
.typeheader-8 #sosearchpro.so-search .bt-search{ background: $background; }
.typeheader-8 #sosearchpro.so-search .button-search:hover i{ color: darken($background,10%); }
.typeheader-8 #sosearchpro.so-search .button-search i{ color: $linkColor; }


.typeheader-9 .header-top-right ul.top-link > li:hover > a{ color: $linkColor; }
.typeheader-9 .shopping_cart .btn-shopping-cart .shopcart,
.typeheader-9 #sosearchpro.so-search .bt-search{ background: $background; }
.typeheader-8 #sosearchpro.so-search .button-search:hover i{ color: darken($background,10%); }
.typeheader-8 #sosearchpro.so-search .button-search i{ color: $linkColor; }