@include breakpoint(lg){
	.container{width:1200px;overflow: visible;}
	.layout-1.common-home .vertical .vertical-wrapper {
		display: block !important;
	}
	.horizontal ul.megamenu > li.content-full > .sub-menu{
		width: 1170px!important;
		max-width: none;
		.content{ padding: 30px 30px 20px; }
	}
	header div.dropdown-menu-search{
		display:block; opacity:1;
		display: block;
		opacity: 1;
		visibility: visible;
		margin: 0;
		background: transparent;
		border: none;
		box-shadow: none;
	}
}